body{
background-color:lightgray !important;

}
.container{
background-color:white !important;
width:100%;
height:400px;
margin-right:45px;
padding: 10px;
-webkit-box-shadow: 5px 5px 10px 5px rgba(15, 15, 15, 0.9);
box-shadow: 5px 5px 10px 5px rgba(15, 15, 15, 0.9);
-webkit-border-radius: 7px 7px 7px 7px;
border-radius: 7px 7px 7px 7px;



}
h2,input,p,label{
    margin:5px;
    padding:5px;


}
button{
color:black;

}
button:hover{
background-color:green !important;
color:white;

}
h2{ 
color:green !important;
font-family:'arial' !important;

}